@import "tailwindcss";

@font-face {
  font-family: "Montserrat";
  src: url('/public/Montserrat-VariableFont_wght.ttf');
}

@font-face {
  font-family: "Sora";
  src: url('/public/Sora-VariableFont_wght.ttf')
}

h1, h2, .title{
  font-family: "Montserrat";
}

p, li, h3, h4, span, a, button{
  font-family: "Sora";
}

body{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}



.swiper-button-prev {
background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIwLjc1IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLWFycm93LXJpZ2h0LWljb24gbHVjaWRlLWFycm93LXJpZ2h0Ij48cGF0aCBkPSJNNSAxMmgxNCIvPjxwYXRoIGQ9Im0xMiA1IDcgNy03IDciLz48L3N2Zz4=') !important;
transform: rotate(180deg);
background-repeat: no-repeat;
background-size: 100% auto;
background-position: center;
position: absolute;
z-index: 10;
top: 30px !important;
left: 90% !important;
width: 32px !important;
}

.swiper-button-next {
background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIwLjc1IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLWFycm93LXJpZ2h0LWljb24gbHVjaWRlLWFycm93LXJpZ2h0Ij48cGF0aCBkPSJNNSAxMmgxNCIvPjxwYXRoIGQ9Im0xMiA1IDcgNy03IDciLz48L3N2Zz4=') !important;
background-repeat: no-repeat;
background-size: 100% auto;
background-position: center;
width: 32px !important;
position: absolute;
z-index: 10;
top: 30px !important;
left: 95% !important;
}

@media (max-width: 768px) {
  .swiper-button-prev, .swiper-button-next {
    display: none !important;
  }
}
@media (min-width: 1024px) {
  .swiper-button-prev {
    left: 92% !important;
  }
}

.swiper-button-next::after {
display: none;
}

.swiper-button-prev::after {
display: none;
}

.autoshow{
  animation: autoshow 1s;
  animation-timeline: view();
}

@keyframes autoshow {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.icon:hover {
  fill: #ff0000;}


  .map-wrap {
  position: relative;
  width: 100%;
  height: calc(100vh - 77px);
}

.map {
  position: absolute;
  width: 100%;
  height: 100%;
}